h3 Have you ever sat before a Disciplinary Committee (DC)?
.percentage-with-label
  .label(style = "")
    h4 Everyone:
  +percentage_slider("dc", 61, 982, accent_color)
.percentage-with-label
  .label(style = "")
    h4 Males:
  +percentage_slider("dc-male", 34, 451, accent_color)
.percentage-with-label
  .label(style = "")
    h4 Females:
  +percentage_slider("dc-female", 26, 530, accent_color)
br
h3 DCs by socio-economic class 
+vertical_barchart("dc-wealth", accent_color, 200, "./assets/data/discipline/dc-wealth.csv", "", "% that has been DCed", "true")
hr.dotted
h3 By those who've been DCed, does the DC system effectively discipline students?
+grouped_barchart("dc-effective", "#eb4d4b,#da5251,#f48a8a", 300, "./assets/data/discipline/dc-effective.csv", "", "Percentage of that category", "DC system effectively disciplines students,Discipline should be harsher,Discipline should be more lenient", "true")
br
h3 By sex, does the DC system effectively discipline students?
+grouped_barchart("dc-effective", "#eb4d4b,#da5251,#f48a8a", 300, "./assets/data/discipline/dc-effective-sex.csv", "Sex", "Percentage of that category", "DC system effectively disciplines students,Discipline should be harsher,Discipline should be more lenient", "true")
hr.dotted 
h3 Do you think that the school's disciplinary system favors students of privileged backgrounds?
.percentage-with-label
  .label(style = "width:150px;")
    h4 Upper class:
  +percentage_slider("dc-upper-class", 226, 78, accent_color)
.percentage-with-label
  .label(style = "width:150px;")
    h4 Upper-middle class:
  +percentage_slider("dc-upper-middle-class", 330, 104, accent_color)
.percentage-with-label
  .label(style = "width:150px;")
    h4 Middle class:
  +percentage_slider("dc-middle-class", 166, 36, accent_color)
.percentage-with-label
  .label(style = "width:150px;")
    h4 Lower-middle class:
  +percentage_slider("dc-lower-middle-class", 60, 10, accent_color)
.percentage-with-label
  .label(style = "width:150px;")
    h4 Lower class:
  +percentage_slider("dc-lower-class", 32, 1, accent_color)
hr.dotted
h3 Have you ever committed a major offense without being caught? 
p (Major offenses include, but are not limited to academic dishonesty, drugs and alcohol, cruising, gambling, and downloading/sharing sexually explicit content)
+percentage_slider("major-offense", 463, 580, accent_color)
hr.dotted
h3 Do you think that the administration should have the right to search an entire dorm for contraband material?
+percentage_slider("dorm-search", 428, 615, accent_color)
br
h3 By alcohol consumption, should the school be able to search dorms? 
+grouped_barchart("dorm-search-alcohol", "#da5251,#f48a8a", 300, "./assets/data/discipline/dorm-search-alcohol.csv", "Alcohol consumption status", "Percentage for each category", "School should be able to search dorms,School should not be able to search dorms", "true")
br
hr.dotted
h3 Do you support changes in room-visit policies?
+pie_chart("room-visit", "24,92,927", "Yes (they should be stricter),No,Yes (they should be more lenient)", "#eb4d4b,#da5251,#f48a8a")
hr.dotted
h3 Opinions on room-visiting by sexual activity
p <i>Note: Information on whether respondents were sexually active or not is based upon the number of people respondents have engaged in sexual activity with. There was not a question on the State of the Academy specifically asking if respondents were sexually active.</i>
+grouped_barchart("roomvisiting-sex", "#eb4d4b,#da5251,#f48a8a", 300, "./assets/data/discipline/roomvisiting-sex.csv", "", "Percentage of that category", "Room-visiting policies should be stricter,Room-visiting policies should remain the same,Room-visiting policies should be more lenient", "true")
hr.dotted
h3 Have you ever had an illegal room-visit?
+percentage_slider("ip", 381, 668, accent_color)
hr.dotted
h3 Have you ever been Sanctuaried?
+percentage_slider("been-sanctuaried", 61, 982, accent_color)
br
h3 Have you ever Sanctuaried someone else?
+percentage_slider("sanctuaried-someone-else", 58, 985, accent_color)
hr.dotted
h3 Cheating by class
+vertical_barchart("cheating-class", accent_color, 250, "./assets/data/discipline/cheating-class.csv", "Class", "Percent that has cheated", "true")
hr.dotted
h3 Plagiarism by class
+vertical_barchart("plagiarism-class", accent_color, 250, "./assets/data/discipline/plagiarism-class.csv", "Class", "Percent that has plagiarized", "true")
