h3 What is your political affiliation? 
+vertical_barchart("political-affiliation", accent_color, 200, "./assets/data/politics/affiliation.csv", "Political Affiliation", "Responses")
hr.dotted
h3 Do you believe that the United States should increase restrictions on immigration?
+percentage_slider("immigration", 256, 801, accent_color)
br
h3 Immigration beliefs by political affiliation
+grouped_barchart("immigration-political", "#521A7E,#d1a8df", 300, "./assets/data/politics/immigration-political.csv", "", "Percentage per category", "The U.S. should increase immigration restrictions,The U.S. should not increase immigration restrictions", "true")
hr.dotted
h3 Do you consider yourself a feminist?
+percentage_slider("feminism", 798, 259, accent_color)
br
h3 Feminism by gender
p <i>Note: Percentages for certain categories may be skewed due to a low number of responses.</i>
+grouped_barchart("feminism-gender", "#521A7E,#d1a8df", 300, "./assets/data/politics/feminism-gender.csv", "", "Percentage per category", "Feminist,Not Feminist", "true")
hr.dotted
h3 Do you support the Black Lives Matter movement? 
.percentage-with-label
  .label(style = "width: 100px;")
    h4 Feminists:
  +percentage_slider("blm-feminist", 754, 44, accent_color)
.percentage-with-label
  .label(style = "width: 100px;")
    h4 Non-Feminists:
  +percentage_slider("blm-non-feminist", 145, 114, accent_color)
hr.dotted
h3 Is there a rape culture at Andover?
.percentage-with-label
  .label(style = "width: 100px;")
    h4 Feminists:
  +percentage_slider("rape-culture-feminist", 448, 350, accent_color)
.percentage-with-label
  .label(style = "width: 100px;")
    h4 Non-Feminists:
  +percentage_slider("rape-culture-non-feminist", 68, 191, accent_color)
hr.dotted
h3 Belief in a rape culture by gender
p <i>Note: Percentages for certain categories may be skewed due to a low number of responses.</i>
+grouped_barchart("rapeculture-gender", "#521A7E,#d1a8df", 300, "./assets/data/politics/rapeculture-gender.csv", "", "Percentage of each gender", "Believes in rape culture,Does not believe in rape culture", "true")
hr.dotted
h3 Do you believe a female should have the right to choose if they have an abortion?
+pie_chart("abortion", "777,249,31", "Yes (always),Yes (in some circumstances),No", "#521A7E,#a362ba,#d1a8df")
hr.dotted
h3 Do you think that gun control laws in the United States should change?
+pie_chart("gun-control", "932,95,30", "Yes (they should be stricter),No,Yes (they should be more lenient)", "#521A7E,#a362ba,#d1a8df")
hr.dotted
h3 Do you support all-gender Housing at Andover?
+percentage_slider("all-gender-housing", 921, 136, accent_color)
hr.dotted
h3 While at Andover, have you ever felt the need to censor yourself due to your political leaning?
+percentage_slider("censorship", 654, 403, accent_color)
br
h3 Self-censorship by political affiliation
+grouped_barchart("censorship-politics", "#521A7E,#d1a8df", 300, "./assets/data/politics/censorship-politics.csv", "", "Percentage by category", "Has felt the need to censor themselves,Has not felt the need to censor themselves", "true")
hr.dotted
h3 Do you believe that reverse racism can exist?
p Reverse racism is defined as “prejudice, discrimination, or antagonism on the basis of race directed against a member of a dominant or privileged racial group” (Oxford Dictionaries). 
.percentage-with-label
  .label
    h4 Senior:
  +percentage_slider("2018-reverse-racism", 85, 208, accent_color)
.percentage-with-label
  .label
    h4 Upper:
  +percentage_slider("2019-reverse-racism", 94, 192, accent_color)
.percentage-with-label
  .label
    h4 Lower:
  +percentage_slider("2020-reverse-racism", 96, 182, accent_color)
.percentage-with-label
  .label
    h4 Junior:
  +percentage_slider("2021-reverse-racism", 82, 118, accent_color)
