mixin grouped_barchart(id, colors, height, url, xLabel, yLabel, labels, percent) 
  div(id = id class = "barchart barchart-grouped" data-url = url data-colors = colors data-height = height data-x = xLabel data-y = yLabel data-labels = labels data-percent = percent)
    .tooltip.hidden
  
