mixin horizontal_barchart(id, accent, height, url, xLabel, yLabel, leftMargin, total) 
  div(id = id class = "barchart barchart-horizontal" data-url = url data-accent = accent data-height = height data-x = xLabel data-y = yLabel data-leftmargin = leftMargin data-total = total)
    .tooltip.hidden
