mixin stacked_barchart(id, colors, height, url, xLabel, yLabel, labels) 
  div(id = id class = "barchart barchart-stacked" data-url = url data-colors = colors data-height = height data-x = xLabel data-y = yLabel data-labels = labels)
    .tooltip.hidden
  
