mixin vertical_barchart(id, accent, height, url, xLabel, yLabel, percent, total) 
  div(id = id class = "barchart barchart-vertical" data-url = url data-accent = accent data-height = height data-x = xLabel data-y = yLabel data-percent = percent data-total = total)
    .tooltip.hidden
  
