mixin line_chart(id, accent, height, x, y, csv, scatter, lines, lineLabels, shade) 
  div(id = id class = "line_chart" data-accent = accent data-x = x data-y = y data-height = height data-csv = csv data-scatter = scatter data-lines = lines data-labels = lineLabels data-shade = shade)
    .tooltip.hidden
  
