mixin pie_chart(id, answers, labels, colors, radius, name) 
  div(id = id class = "pie" data-responses = answers data-labels = labels data-colors = colors data-radius = radius data-name = name)
    .tooltip.hidden
  
